body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 20px;
}

.tabs {
  display: flex;
}

.tab {
  flex-grow: 1;
  padding: 10px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.tab.active {
  background-color: #ddd;
}

.content {
  background-color: #fff;
  margin-top: 10px;
  padding: 20px;
}

.page {
  display: none;
}

.page.active {
  display: block;
}

.progress-bars {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.progress-bar {
  flex: 1;
  min-width: 40%;
  margin-bottom: 10px;
}

.label {
  margin-bottom: 5px;
}

.bar-container {
  width: 100%;
  height: 20px;
  background-color: #eee;
  position: relative;
}

.bar {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #8BC34A;
}

#add-item-btn {
  display: block;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: #8BC34A;
  color: #fff;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.food-icon {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}

.food-icon {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
}

.food-icon img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin: 0 auto;
  display: block;
}

.plan-images {
  position: relative;
  width: 100%;
  height: auto;
}

.plan-images img {
  display: none;
  width: 100%;
  height: auto;
}

#muscle-gain-img {
  display: block;
}

.categories-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.category-btn {
  flex: 1;
  background-color: #eee;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  text-align: center;
}

.category-btn.active {
  background-color: #ccc;
}

.category-pages {
  display: flex;
  flex-wrap: wrap;
}

.category-page {
  display: none;
  width: 100%;
}

.category-page.active {
  display: block;
}
